
@media (max-width: 414px) {
    .row-login-form{
        position: relative;
        top: 90px;
        left:18px;
        width:370px;
        margin-bottom:207px;
    }

}
@media screen and (min-width: 1025px) {
    .row-login-form{
        position: relative;
        top: 90px;
        left:36%;
        width:500px;
        margin-bottom:211px;
    }
}